In [1]:
import os
os.chdir("/Users/tien/Documents/PythonEnvs/pytorch/")

In [2]:
import torch
import torch.nn as nn

In [3]:
from jup.recsys_models.data.short_video_understanding import read_data
from jup.recsys_models.data.short_video_understanding import process_features

In [4]:
from jup.recsys_models.features import SparseFeature
from jup.recsys_models.features import DenseFeature

In [5]:
from jup.recsys_models.core.inputs import get_feature_names

In [6]:
from jup.recsys_models.models.multi_tasks_multi_towers import NTasksNTowersSharedBottom

In [7]:
df = read_data()

In [8]:
df

,uid,user_city,item_id,author_id,item_city,channel,finish,like,music_id,device,time,duration_time
0,37448,115,567569,44888,42,0,0,0,1699,43981,53085738314,9
1,8623,82,1209192,10098,106,0,1,0,-1,11996,53086444998,8
2,9629,31,1209193,184752,109,0,1,0,-1,32093,53085591140,5
3,52799,175,1209194,109629,101,0,1,0,-1,33106,53085915481,6
4,38008,-1,1209195,456237,11,1,0,1,56,18558,53085805030,9
...,...,...,...,...,...,...,...,...,...,...,...,...
195,31106,59,954053,83106,39,0,0,0,-1,44096,53085930569,19
196,7359,-1,1209531,52228,33,1,0,0,3190,44097,53085811152,9
197,57460,91,36211,54195,135,0,1,1,1059,44098,53085060377,9
198,26948,360,1209532,80933,4,0,0,0,63,11424,53086463275,21
199,31412,-1,1209533,135891,128,1,0,0,-1,44099,53081206772,34

In [9]:
sparse_features = ["uid", "user_city", "item_id", "author_id", "item_city", "channel", "music_id", "device"]
dense_features = ["duration_time"]

processed_df = process_features(df, sparse_features, dense_features)

In [10]:
processed_df

,uid,user_city,item_id,author_id,item_city,channel,finish,like,music_id,device,time,duration_time
0,141,56,75,105,34,0,0,0,44,165,53085738314,0.175
1,49,38,100,45,62,0,1,0,0,70,53086444998,0.150
2,52,20,101,161,64,0,1,0,0,134,53085591140,0.075
3,172,75,102,147,59,0,1,0,0,138,53085915481,0.100
4,144,0,103,179,12,1,0,1,7,90,53085805030,0.175
...,...,...,...,...,...,...,...,...,...,...,...,...
195,112,30,93,140,32,0,0,0,0,194,53085930569,0.425
196,40,0,196,114,28,1,0,0,52,195,53085811152,0.175
197,197,42,22,115,77,0,1,1,38,196,53085060377,0.175
198,102,106,197,139,5,0,0,0,9,67,53086463275,0.475
199,115,0,198,153,75,1,0,0,0,197,53081206772,0.800

In [11]:
# Need to figure out what + 1 here
fixlen_feature_columns = ([
    SparseFeature(feat, vocabulary_size=processed_df[feat].max() + 1, embedding_dim=4) for feat in sparse_features] + 
    [DenseFeature(feat, 1, )for feat in dense_features])

In [12]:
fixlen_feature_columns

[SparseFeature(name='uid', vocabulary_size=198, embedding_dim=4, embedding_name='uid', use_hash=False, dtype='int32'),
 SparseFeature(name='user_city', vocabulary_size=107, embedding_dim=4, embedding_name='user_city', use_hash=False, dtype='int32'),
 SparseFeature(name='item_id', vocabulary_size=199, embedding_dim=4, embedding_name='item_id', use_hash=False, dtype='int32'),
 SparseFeature(name='author_id', vocabulary_size=199, embedding_dim=4, embedding_name='author_id', use_hash=False, dtype='int32'),
 SparseFeature(name='item_city', vocabulary_size=109, embedding_dim=4, embedding_name='item_city', use_hash=False, dtype='int32'),
 SparseFeature(name='channel', vocabulary_size=4, embedding_dim=4, embedding_name='channel', use_hash=False, dtype='int32'),
 SparseFeature(name='music_id', vocabulary_size=72, embedding_dim=4, embedding_name='music_id', use_hash=False, dtype='int32'),
 SparseFeature(name='device', vocabulary_size=198, embedding_dim=4, embedding_name='device', use_hash=False, dtype='int32'),
 DenseFeature(name='duration_time', dimension=1, dtype='float32')]

In [13]:
dnn_feature_columns = fixlen_feature_columns

In [14]:
dnn_feature_columns

[SparseFeature(name='uid', vocabulary_size=198, embedding_dim=4, embedding_name='uid', use_hash=False, dtype='int32'),
 SparseFeature(name='user_city', vocabulary_size=107, embedding_dim=4, embedding_name='user_city', use_hash=False, dtype='int32'),
 SparseFeature(name='item_id', vocabulary_size=199, embedding_dim=4, embedding_name='item_id', use_hash=False, dtype='int32'),
 SparseFeature(name='author_id', vocabulary_size=199, embedding_dim=4, embedding_name='author_id', use_hash=False, dtype='int32'),
 SparseFeature(name='item_city', vocabulary_size=109, embedding_dim=4, embedding_name='item_city', use_hash=False, dtype='int32'),
 SparseFeature(name='channel', vocabulary_size=4, embedding_dim=4, embedding_name='channel', use_hash=False, dtype='int32'),
 SparseFeature(name='music_id', vocabulary_size=72, embedding_dim=4, embedding_name='music_id', use_hash=False, dtype='int32'),
 SparseFeature(name='device', vocabulary_size=198, embedding_dim=4, embedding_name='device', use_hash=False, dtype='int32'),
 DenseFeature(name='duration_time', dimension=1, dtype='float32')]

In [15]:
feature_names = get_feature_names(dnn_feature_columns)

In [16]:
feature_names

['uid',
 'user_city',
 'item_id',
 'author_id',
 'item_city',
 'channel',
 'music_id',
 'device',
 'duration_time']

In [17]:
df.shape

(200, 12)

In [18]:
split_boundary = int(df.shape[0] * 0.8)

In [19]:
train, test = df[:split_boundary], df[split_boundary:]
# not the train and test contain both values and labels
# thus we need to run the following command to extract only train inputs

train_model_input = {name: train[name] for name in feature_names}
test_model_input = {name: test[name] for name in feature_names}

In [20]:
type(train[['finish', 'like']].values)

numpy.ndarray

In [21]:
type(train_model_input['uid'])

pandas.core.series.Series

In [22]:
# Up till now, train model input is dictionary: name -> pandas.core.series.Series

In [23]:
target = ['finish', 'like']

In [24]:
model = NTasksNTowersSharedBottom(
    features=dnn_feature_columns,
    task_types=['binary', 'binary'],
    l2_reg_embedding=1e-5,
    task_names=['finish', 'like'],
    device='cpu',
    tensorboard_path="jup/examples/recsys_models/two_tasks_two_towers/runs/"
)

TypeError: __init__() got an unexpected keyword argument 'dnn_feature_columns'

In [ ]:
model.set_optimizer('adagrad')

In [ ]:
model.set_loss_function(loss=["binary_cross_entropy", "binary_cross_entropy"])

In [ ]:
model.set_metrics(metrics=['binary_cross_entropy'])

In [ ]:
model.fit(train_model_input, train[target].values, batch_size=2, epochs=10, verbose=2)

In [ ]:
print(model.feature_col_index)

In [ ]:
print(len(model.tower_dnn_hidden_units))

In [ ]:
model.tower_dnn

In [ ]:
model.outs